<ion-view view-title="Mall" class="welcome1">
    <ion-nav-buttons side="primary">
        <button class="button button-icon icon ion-android-exit " ng-click="salir()"> Salir
        </button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 100%; height: 40%"></div>
        <div class="list card">
            <div class="item item-divider">Bienvenido a:</div>
            <div class="item item-body center"><img src="img/gap.gif"></div>
            <div class="item item-divider">Secciones</div>
        </div>
        <ion-list>
            <ion-item>Mujeres</ion-item>
            <ion-item>Hombres</ion-item>
            <ion-item>Niños</ion-item>
        </ion-list>
    </ion-content>
</ion-view>